@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  line-height: 2rem;
}

#navbar,
#footer {
  background-color: #f3722c;
  color: white;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.bg {
  background-color: #f9c74f;
  height: auto;
}

h2 {
  margin: 0 auto;
}

.btn {
  padding: 0 80px;
}

.btn:hover {
  font-size: 1.2rem;
  background-color: #f3722c;
  color: white;
}

.btn:active {
  background-color: #f3722c;
  color: white;
}

.btn-orange {
  background-color: #f3722c;
}

.br-10{  
  border-radius: 10px;
  
  line-height: 0.5rem;
}

.main-header {
  background-color: #577590;
  color: white;
}

#search-city{
  background-color: #f9c74f;
}

#today {
  background-color: #90be6d;
  color: black;
} 

.sm-card{
  border-radius: 10px;
  border: 3px solid white;
  background-color: #577590;
  color: white;
  max-width: 14rem;
}
.sm-header {
  background-color: #90be6d;
  font-weight: bolder;
  font-size: 1.2rem;
  /* color: white; */
}

#fiveDaysInfo {
  background-color: #f9c74f;
  border: none;
}

