/* Custom css */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  line-height: 2rem;
}

#navbar,
#footer {
  background-color: #f3722c;
  color: white;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.bg {
  background-color: #faedcd;
  height: auto;
}

h2 {
  margin: 0 auto;
}

.searchbtn {
  padding: auto 80px;
}

.searchbtn:hover {
  font-size: 1.2rem;
  background-color: #f3722c;
  color: white;
}

.btn-orange {
  background-color: #f3722c;
}

.br-10 {  
  border-radius: 10px;  
  line-height: 0.5rem;
}

.main-header {
  background-color: #577590;
  color: white;
}

#search-city {
  background-color: #faedcd;
}

#today {
  background-color: #90be6d;
  color: black;
} 

.sm-card {
  border-radius: 10px;
  border: 3px solid white;
  background-color: #577590;
  color: white;
  max-width: 14rem;
}
.sm-header {
  background-color: #90be6d;
  font-weight: bolder;
  font-size: 1.2rem;
  /* color: white; */
}

#fiveDaysInfo {
  background-color: #faedcd;
  border: none;
}

.btn-city {
  background-color: #66829b;
  color: #70e417;
  font-weight: bold;
  width: 80%;
}

.btn-city:hover {
  border: 2px solid #66829b;  
  color: #70e417;
  
}